[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyyaml = "*"
pycryptodome = "*"
requests = "*"
tabulate = "*"
psutil = "*"
ipwhois = "*"
joringels = {editable = true, path = "."}
logunittest = {editable = true, path = "/Users/Lars/python_venvs/packages/logunittest"}

[dev-packages]
pykeepass = "*"
black = "*"
pre-commit = "*"
toml = "*"

[requires]
python_version = "3.9"
