[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyyaml = "*"
pycryptodome = "*"
requests = "*"
tabulate = "*"
psutil = "*"
ipwhois = "*"
pykeepass = "*"
joringels = {editable = true, path = "."}
logunittest = {git = "https://oauth2:glpat-PDn2Nftephd5_mGosn4x@gitlab.com/larsmielke2/logunittest.git"}
# logunittest = {editable = true, path = "/Users/Lars/python_venvs/packages/logunittest"}

[dev-packages]

[requires]
python_version = "3.9"
