[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyyaml = "*"
pycryptodome = "*"
requests = "*"
tabulate = "*"
psutil = "*"
ipwhois = "*"
# context will change in lut ut before git add
joringels = {git = "git@github.com:lmielke/joringels.git"}
logunittest = {git = "git@github.com:lmielke/logunittest.git"}
pytest = "*"

[dev-packages]
pykeepass = "*"
black = "*"
pre-commit = "*"
toml = "*"

[requires]
python_version = "3.11"

[scripts]
git_sync = "lut ut -g"
serve = "jo serve -n ${DATASAFENAME} -con joringels -cn testing -rt -t"
